lab-1/goal-3-4/MeasureTempHumidity-NodeRed-Serial/flows_with_dashboard.json
[
    {
        "id": "182124df.7656db",
        "type": "tab",
        "label": "MeasureTempHumidity-NodeRed-Serial",
        "disabled": false,
        "info": ""
    },
    {
        "id": "87b62170.b64d68",
        "type": "serial in",
        "z": "182124df.7656db",
        "name": "HUZZAH32 Feather Board",
        "serial": "f1fe41a6.09e8",
        "x": 130,
        "y": 260,
        "wires": [
            [
                "ebcb56f5.1904a8",
                "a2cb1bfa.d1ccf8"
            ]
        ]
    },
    {
        "id": "ebcb56f5.1904a8",
        "type": "debug",
        "z": "182124df.7656db",
        "name": "Serial Port Messages",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 40,
        "wires": []
    },
    {
        "id": "9ff82c92.0b12b",
        "type": "ui_gauge",
        "z": "182124df.7656db",
        "name": "Humidity Gauge",
        "group": "d3057715.3cde68",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "",
        "label": "% rH",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ca3838",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "45",
        "seg2": "65",
        "x": 980,
        "y": 220,
        "wires": []
    },
    {
        "id": "32357f90.44d8e8",
        "type": "ui_gauge",
        "z": "182124df.7656db",
        "name": "C Temp Gauge",
        "group": "b2d0e1e5.d109e8",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "",
        "label": "degrees C",
        "format": "{{value}}",
        "min": "-18",
        "max": "45",
        "colors": [
            "#50a3ed",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "26.67",
        "x": 980,
        "y": 260,
        "wires": []
    },
    {
        "id": "2c0cd65b.5c586a",
        "type": "ui_gauge",
        "z": "182124df.7656db",
        "name": "F Temp Gauge",
        "group": "b2d0e1e5.d109e8",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "",
        "label": "degrees F",
        "format": "{{value}}",
        "min": "-0.4",
        "max": "113",
        "colors": [
            "#50a3ed",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "80",
        "x": 980,
        "y": 300,
        "wires": []
    },
    {
        "id": "c8fd1555.b6831",
        "type": "switch",
        "z": "182124df.7656db",
        "name": "Humidity Switch",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "Humidity",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 620,
        "y": 220,
        "wires": [
            [
                "7f8292a5.e3cd14"
            ]
        ]
    },
    {
        "id": "a2cb1bfa.d1ccf8",
        "type": "split",
        "z": "182124df.7656db",
        "name": "Message Splitter",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 390,
        "y": 260,
        "wires": [
            [
                "c8fd1555.b6831",
                "5af03df9.b9de8c",
                "f04a3fce.cf4398"
            ]
        ]
    },
    {
        "id": "5af03df9.b9de8c",
        "type": "switch",
        "z": "182124df.7656db",
        "name": "C Temp Switch",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "degrees C",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 620,
        "y": 260,
        "wires": [
            [
                "64456d08.33bfa4"
            ]
        ]
    },
    {
        "id": "f04a3fce.cf4398",
        "type": "switch",
        "z": "182124df.7656db",
        "name": "F Temp Switch",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "degrees F",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 620,
        "y": 300,
        "wires": [
            [
                "5631d1d5.3a9198"
            ]
        ]
    },
    {
        "id": "e6c8d0f4.0755b8",
        "type": "debug",
        "z": "182124df.7656db",
        "name": "Output Tester",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 760,
        "wires": []
    },
    {
        "id": "7f8292a5.e3cd14",
        "type": "change",
        "z": "182124df.7656db",
        "name": "Humidity Parser",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "Humidity: ",
                "fromt": "str",
                "to": "",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": " % rH",
                "fromt": "str",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 220,
        "wires": [
            [
                "9ff82c92.0b12b"
            ]
        ]
    },
    {
        "id": "64456d08.33bfa4",
        "type": "change",
        "z": "182124df.7656db",
        "name": "C Temp Parser",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "Temperature: ",
                "fromt": "str",
                "to": "",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": " degrees C",
                "fromt": "str",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 260,
        "wires": [
            [
                "32357f90.44d8e8"
            ]
        ]
    },
    {
        "id": "5631d1d5.3a9198",
        "type": "change",
        "z": "182124df.7656db",
        "name": "F Temp Parser",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "Temperature: ",
                "fromt": "str",
                "to": "",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": " degrees F",
                "fromt": "str",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 300,
        "wires": [
            [
                "2c0cd65b.5c586a"
            ]
        ]
    },
    {
        "id": "f1fe41a6.09e8",
        "type": "serial-port",
        "z": "",
        "serialport": "/dev/ttyUSB0",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\r",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "d3057715.3cde68",
        "type": "ui_group",
        "z": "",
        "name": "Humidity",
        "tab": "2c56341.6c45ecc",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b2d0e1e5.d109e8",
        "type": "ui_group",
        "z": "",
        "name": "Temperature",
        "tab": "2c56341.6c45ecc",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "2c56341.6c45ecc",
        "type": "ui_tab",
        "z": "",
        "name": "SHTC3 Data",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]